[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-blind-except = "*"
flake8-builtins = "*"
flake8-commas = "*"
flake8-bugbear = "*"
flake8-pytest = "*"
pep8-naming = "*"
wheel = "*"

[packages]
toml = "*"
requests = "*"
plotly = "*"
psutil = "*"

[requires]
python_version = "3"
